#pic1{

   align-items: end;
}
#gen
{
    background-color: grey;
}
#rs
{
    background-color: grey;
}
#but
{
    width:20px;
}
#but :hover
{
background-color: rgb(58, 56, 56);
color: white;
transform: scale(1.1);
}
#do
{
   display: flex;
}
#do :hover
{
background-color: rgb(58, 56, 56);
color: white;
transform: scale(1.1);
}
#doing
{
    display: flex;
    margin-left: 60px;
}
#don
{
    margin-left: 60px;
}
#donate:hover
{
    width: 100;
}
.pic2
{
    align-self: center;
}
#test
{
    color: green;
}
#sect
{
    align-items: center;
    background: fixed;
    align-self: center;
    justify-content: center;
    background-color: rgb(199, 190, 190);
}
#home
{
    color: blue;

}
#home :hover
{
   text-decoration: underline;
}
#name
{
    color: blue;
}
footer{
    background-color: grey;
}
#top-row
{
    background-color: rgb(231, 231, 231);
    font-size: small;
    background-attachment: fixed;
}
#lang{
    justify-self: end;
    float: right;
    margin-right: 20px;
    }
#doing{
    
    margin-left: 60px;
}
#projects
{
    margin-right: 50px;
    margin-left: 60px;

}
footer
{
    background-image: url(./images/foot.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
    background-origin: border-box;
}
#proj
{
    color: blue;
}
 #prow
 {
   
    align-items: center; 
 }
 #saylani
 {
    color: green;
 }
 #paragraph
 {
    margin-left: 30px;
 }
 img {
    max-width: 100%;
    height: auto;
  }
 @media (max-width: 768px)
  {
    img {
      max-width: 80%;
    }
  }
  #graphs
  {
    margin-left: 30px;
  }
  nav{
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 768px)
  {
    nav {
      max-width: 80%;
    }
  }
  #amount
  {
    background-color: rgb(199, 223, 199);
  }
 #form-foot
 {
    color: blue;
    background-color: white;
 }
 #form-donate
 {
    color: white;
    background-color:blue;
 }
 th{
    color:  rgb(139, 139, 245);;
 }
 td
 {
    border-color: green;
 }
